extends /views/layouts/index.pug

block head
    title= "Guides"
    meta(name="description" content="Guides let you learn more about the world")
    script(type="application/ld").
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "name": "your name",
            "url": "http://www.your-site.com",
            "sameAs": [
              "http://www.facebook.com/your-profile",
              "http://instagram.com/yourProfile",
              "http://www.linkedin.com/in/yourprofile",
              "http://plus.google.com/your_profile"
            ]
        }

block stylesheet
    style
        include /public/stylesheets/description/index.css
        include /public/stylesheets/drawer/index.css
        include /public/stylesheets/homepage/index.css
    
block content
    input#checker(type="checkbox")
    label(for="checker")
        div
    ul.drawer
        li
          a(href="views/convention/index.html" l10n="Convention") Convention
        li
          a(href="views/donate/index.html" l10n="Donate") Donate
        li
          select(name="locales")
            option(id="zh" value="zh") 中文
            option(id="en" value="en") English
            option(id="fr" value="fr") Français
            option(id="it" value="it") italiano
            option(id="ja" value="ja") 日本語
            option(id="ko" value="ko") 한국어
            option(id="ru" value="ru") русский
            option(id="uk" value="uk") український
    h1(l10n="Guides").header Guides
    dl.description
        dt(l10n="Created reason") Created reason
        dd(l10n="the world") the world is organized, meaningful, elegant!
        dd(l10n="summarize") summarize my experience
    script(type="module" src="./index.js")
    