@media (max-width:750px) {
  body::before {
    background-image: url(/guides/public/images/desktop/desktop-60p-10x.jpg)
  }
}
@media (min-width:750px) and (max-width:1440px) {
  body::before {
    background-image: url(/guides/public/images/desktop/desktop-60p-25x.jpg)
  }
}
@media (min-width:1440px) and (max-width:2160px) {
  body::before {
    background-image: url(/guides/public/images/desktop/desktop-60p-25x.jpg)
  }
}
@media (min-width:2160px) {
  body:::before {
    background-image: url(/guides/public/images/desktop/desktop-60p-50x.jpg)
  }
}
a {
  text-decoration: none;
  color: rgba(0,0,0,.87);
  outline: 0
}
body {
  color: rgba(0,0,0,.87);
  font-family: 'Fira Code';
  margin: 0
}
body::before {
  background-size: cover;
  background-attachment: fixed;
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: -1
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400
}
div {
  text-align: center
}
div > img {
  width: 278px
}
.lefter {
  font-size: 48px;
  line-height: 36px;
  display: block;
  width: 48px;
  height: 48px;
  text-align: center
}