extends /views/layouts/index

block stylesheet
    style
        if development
            include /public/stylesheets/index.css
            include /public/stylesheets/donate/index.css
            include /public/stylesheets/lefter/index.css
        else
            include /public/stylesheets/donate.min.css
            
block content
    a.lefter(href="/guides") â†
    div
      img(height="320" src="/guides/public/images/pay/alipay800x1280.jpg", alt="anlex N's alipay")
      img(height="320" src="/guides/public/images/pay/wechatpay800x1280.jpg", alt="anlex N's wechatpay")