[for="checker"] {
    height: 48px;
    position: fixed;
    transition: all 400ms;
    user-select: none;
    width: 48px;
    z-index: 2;
}

[for="checker"] div,
[for="checker"] div:before,
[for="checker"] div:after {
    position: absolute;
    height: 4px;
    width: 32px;
    background: #2196f3;
    content: '';
    margin-top: 20px;
    margin-left: 8px;
    transition: all 500ms;
}

[for="checker"] div:before {
    margin-top: -10px;
    margin-left: 0;
}

[for="checker"] div:after {
    margin-top: 10px;
    margin-left: 0;
}

#checker {
    display: none;
}

#checker:checked + [for="checker"] div {
    background-color: transparent;
}

#checker:checked + [for="checker"] div:before {
    transform: rotate(45deg);
    margin-top: 0;
}

#checker:checked + [for="checker"] div:after {
    transform: rotate(-45deg);
    margin-top: 0;
}

.drawer {
    margin: 0;
    padding-top: 48px; 
    padding-left: 0;
    position: fixed;
    left: -272px;
    height: 100%;
    background-color: rgba(255, 255, 255, .87);
    transition: left 500ms;
    width: 272px;
    z-index: 1;
    font-size: 100%;
}

#checker:checked ~ .drawer {
    left: 0;
}

.drawer > li {
    margin-left: 8px;
    height: 48px;
    color: rgba(255, 255, 255, .87);
    user-select: none;
    list-style: none;
}

.drawer > li > select {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 100%;
    color: rgba(0, 0, 0, .87);
}